-- CreateSchema
CREATE SCHEMA IF NOT EXISTS "public";

-- CreateEnum
CREATE TYPE "FuelType" AS ENUM ('petrol', 'diesel', 'electric');

-- CreateEnum
CREATE TYPE "AvailabilityStatus" AS ENUM ('available', 'booked');

-- CreateEnum
CREATE TYPE "BookingStatus" AS ENUM ('pending', 'confirmed', 'cancelled');

-- CreateEnum
CREATE TYPE "PaymentStatus" AS ENUM ('pending', 'in_progress', 'done');

-- CreateTable
CREATE TABLE "Customer" (
    "customer_id" SERIAL NOT NULL,
    "first_name" VARCHAR(50) NOT NULL,
    "last_name" VARCHAR(50) NOT NULL,
    "street" VARCHAR(100),
    "city" VARCHAR(50),
    "state" VARCHAR(50),
    "zip" VARCHAR(10),
    "license_no" VARCHAR(20) NOT NULL,

    CONSTRAINT "Customer_pkey" PRIMARY KEY ("customer_id")
);

-- CreateTable
CREATE TABLE "customer_phone" (
    "customer_id" INTEGER NOT NULL,
    "phone_number" VARCHAR(15) NOT NULL,

    CONSTRAINT "customer_phone_pkey" PRIMARY KEY ("customer_id","phone_number")
);

-- CreateTable
CREATE TABLE "Vehicle" (
    "vehicle_id" SERIAL NOT NULL,
    "brand" VARCHAR(50) NOT NULL,
    "fuel_type" "FuelType",
    "model" VARCHAR(50) NOT NULL,
    "rental_rate" DECIMAL(12,2),
    "availability_status" "AvailabilityStatus" DEFAULT 'available',

    CONSTRAINT "Vehicle_pkey" PRIMARY KEY ("vehicle_id")
);

-- CreateTable
CREATE TABLE "Booking" (
    "booking_id" SERIAL NOT NULL,
    "customer_id" INTEGER NOT NULL,
    "vehicle_id" INTEGER NOT NULL,
    "booking_date" DATE NOT NULL,
    "pickup_date" DATE NOT NULL,
    "return_date" DATE NOT NULL,
    "booking_status" "BookingStatus" DEFAULT 'pending',
    "total_amount" DECIMAL(10,2) NOT NULL,

    CONSTRAINT "Booking_pkey" PRIMARY KEY ("booking_id")
);

-- CreateTable
CREATE TABLE "payment" (
    "payment_id" INTEGER NOT NULL,
    "payment_date" DATE NOT NULL,
    "payment_method" VARCHAR(50) NOT NULL,
    "payment_status" "PaymentStatus" DEFAULT 'pending',

    CONSTRAINT "payment_pkey" PRIMARY KEY ("payment_id")
);

-- CreateIndex
CREATE UNIQUE INDEX "Customer_license_no_key" ON "Customer"("license_no");

-- CreateIndex
CREATE INDEX "Booking_customer_id_idx" ON "Booking"("customer_id");

-- CreateIndex
CREATE INDEX "Booking_vehicle_id_idx" ON "Booking"("vehicle_id");

-- AddForeignKey
ALTER TABLE "customer_phone" ADD CONSTRAINT "customer_phone_customer_id_fkey" FOREIGN KEY ("customer_id") REFERENCES "Customer"("customer_id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Booking" ADD CONSTRAINT "Booking_customer_id_fkey" FOREIGN KEY ("customer_id") REFERENCES "Customer"("customer_id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Booking" ADD CONSTRAINT "Booking_vehicle_id_fkey" FOREIGN KEY ("vehicle_id") REFERENCES "Vehicle"("vehicle_id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "payment" ADD CONSTRAINT "payment_payment_id_fkey" FOREIGN KEY ("payment_id") REFERENCES "Booking"("booking_id") ON DELETE RESTRICT ON UPDATE CASCADE;

